

.conteinerJogo{
    width: 100vw;
    height: 100vh;
    background-image: url(/public/assets/pxfuel.jpg);
    z-index: 1;
    position: fixed;
    display: flex;
}

.conteinerGame{
    flex: 1;
    width: 33.33%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    text-align: center;
    padding: 20px;
}

.tabuleiro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tabela{
    color: white;
    width: 46.02%;
    height: 30%;
    text-align: center;
    border-collapse: collapse;
    border: 5px solid #2C3034;
}

#tabela {
    margin-bottom: 1rem;
}

.td{
    width: 33.33%;
    height: 33.33%;
    border-collapse: collapse;
    border: 2.5px solid #2C3034;
}

.armazenador{
    color: white;
    width: 60px;
    height: 60px;
    border: 2px solid gray;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
}

.armazenadorPts{
    color: white;
    width: 60px;
    height: 60px;
    border: 2px solid gray;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectCol{
    width: 100%;
}

.diceSelect{
    margin: 3% 0 0 0;
}

.midSelect{
    margin: 3% 2% 0 2%;
}